.main_songPlay{
    display:flex;

}
.main_songPlay > .thisSong{
    display:flex;
    align-items: center;
    padding:8rem;
    gap:5rem;
}
.main_songPlay>.thisSong>img{
    height:35rem;
    width:30rem;
    box-shadow: 0 0 40px 0px rgba(0,0,0,0.3);
    border-radius:10px;
}

.main_songPlay > .thisSong>.right_panel{
    display:flex;
    flex-direction: column;
    gap:3rem;
    font-family: sans-serif;
    color:rgba(0,0,0,0.5);
    height:100%;
}
    .main_songPlay > .thisSong>.right_panel>.artists_main{
        display: flex;
        flex-direction: column;
        gap:0.5rem;
        
    }
    .main_songPlay > .thisSong>.right_panel>.artists_main>.artists{
        display: flex;
        gap:1rem;
    }
        .main_songPlay > .thisSong>.right_panel>h1{
            font-size:3rem;
            font-weight:500;
            color:black;
        }
        .main_songPlay > .thisSong>.right_panel>.artists_main>.artists>img{
            height:6rem;
            width:6rem;
            object-fit: cover;
            border-radius:50%;
            box-shadow:0 0 10px 0 rgba(0,0,0,0.6);
            cursor:pointer;
        }



            .main_songPlay > .thisSong>.right_panel>.play{
                width:10rem;
            }
            .main_songPlay > .thisSong>.right_panel>.play>.switch_btn{
                width:100%;
                height:3rem;
                justify-content: left;
                padding-left:1rem;
                align-items: center;
                gap:1rem;
                display: flex;
                cursor:pointer;
                color:white;
                border-radius: 10px;
            }
                .main_songPlay > .thisSong>.right_panel>.play>.play_button{
                    background-color: green;
                }
                .main_songPlay > .thisSong>.right_panel>.play>.pause_button{
                    
                    background-color: rgb(172, 172, 2);
                }
.main_songPlay > .thisSong >.other_form_same_artist{
    display:flex;
    width:42rem;
    justify-content: right;
    align-items:center;
    
}
    .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card{
        border-radius:10px;
        background-color: rgba(219,194,67,0.4);;
        display:flex;
        flex-direction: column;
        /* gap:1rem; */
        height:35rem;
        width:30rem;
        font-family: sans-serif;
    }
    .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>h2{
        background-color:  rgba(219,194,67,0.6);
        border-radius:10px 10px 0 0;
        height:9rem;
        display:flex ;
        justify-content: center;
        align-items: center;
        font-size:1.7rem;
        font-weight: 500 ;
        
    }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards{
display: flex;
gap:1rem;
flex-direction: column;
overflow-x: hidden;
overflow-y: scroll;
padding:1rem 0;
        }

        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards::-webkit-scrollbar{
            width:1.3rem;
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards::-webkit-scrollbar-track{
            background-color: rgba(219, 166, 67,0.5);
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards::-webkit-scrollbar-thumb{
            background-color: rgba(165, 112, 15,0.5);
            border-radius:20px;
            border:4px solid transparent;
            background-clip: content-box;
            
            
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards::-webkit-scrollbar-thumb:hover{
            
            background-color: rgba(165, 112, 15,1);
        }
        
    
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other{
            display: flex;
            margin:0 2rem;
            background-color: rgba(219,194,67,0.6);
            gap:1rem;
            border-radius:10px;
            cursor: pointer;
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other:hover{
            
            background-color:  rgba(219,194,67,1);;
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other>img{
            height:5rem;
            width:5rem;
            object-fit: cover;
            border-radius:10px 0px 0 10px;
        }
        .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other>div{
            display:flex;
            flex-direction:column;
            padding-top:1rem;
        }
    
    .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other>div>h3{
        font-size:1.4rem;
        font-weight:500
    }
    .main_songPlay > .thisSong >.other_form_same_artist>.other_from_same_artist_card>.cards>.mini_card_other>div>p{
        font-size: 0.9rem;
    }