.main_header{
    height:9rem;
    padding:0 2rem;
    background-color: rgba(0,0,0,0.02);
    display: flex;
    justify-content: space-between;
}

.main_header > .left{
    height:100%;
}

.main_header > .left > img{
height:90%;
}

.main_header > .right > .search_bar{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;

}
.main_header > .right {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
.main_header > .right > .search_bar>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.3rem;
    padding:0 1rem;
    height:3.4rem;
    width:35rem;
    background-color: rgb(219, 194, 67);
    border-radius:50px;
    min-width:4rem;
    transition:all 1s;
    
}
.main_header > .right > .search_bar>div>input{
    transition:all 1s;
    width:85%;
    background-color: transparent;
    border:none;
    outline:none;
    border-radius:50px;
    color:white;
    font-size:1.6rem;
    height:100%;
}
.main_header > .right > .search_bar>div>svg{
        font-size:2rem;
        color:white;
        cursor: pointer;
    }
    
    

    .main_header>.right>.menu_options{
        display: flex;
        gap:1rem;
        
    }
    .main_header>.right>.menu_options>a{
        text-decoration: none;
        font-family: sans-serif;
        color:gray;
        font-size:1.5rem;
        height:3rem;
        width:100%;
        padding:0 1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius:10px;
        transition:all 0.3s
    }
    
    
    .main_header>.right>.menu_options>.active{
    background-color: rgb(219, 199, 100);
      
        color:rgba(0,0,0,0.8);
        
  }

  .main_header > .right > .account_section {
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .main_header > .right > .account_section >img{
    height:5rem;
    width:5rem;
    border-radius:100%;
    cursor:pointer;
    box-shadow: 0 0 0.7em 0.2em rgba(0,0,0,0.3);

  }